/* Reset default HTML Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

:root {
    --primary-white: #f3f3f3;
    --primary-grey: ;
    --accent-color: ;

    --brown: #734D2C ;
    --nightgreen: #203033;
    --blue: #2C6673;
    --sand: #C8A98E;
    --skyblue: #D5EDF2;
}

body {
    /* Background Color */
    min-height: 100vh;
    margin: 0;

    background: linear-gradient(160deg, #3B899A 0%, #A47451 80%, #000116 100%);
    background-attachment: fixed;

    /* Global Font */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Supports 100-900 */
    font-style: normal;
    font-variation-settings: "width" 100;
    color: var(--primary-white);
}

.content {
    margin: 2em;
}

nav {
    /* Stick to top */
    position: sticky;
    top: 1em;
    z-index: 1000;
    margin-top: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;


    /* Liquid Glass Effect */
    background: color-mix(in srgb, var(--blue), transparent 65%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* jSafari Support */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    margin: 0.8em 0;
}

nav li {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

nav li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

nav li a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--primary-white);
    opacity: 0.8;
    padding: 0.8em 1.2em;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}


nav ul li:hover a {
    transform: scale(1.05);
    opacity: 1;
}

.hstack {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;

    margin: 3em 0em;
}

.card {
    /* 1. Transparenter Hintergrund (Nutze color-mix oder direktes rgba) */
    background: color-mix(in srgb, var(--nightgreen), transparent 65%);

    /* 2. Weichzeichner für den Hintergrund */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* jSafari Support */

    /* 3. Ein feiner weißer Rand (wirkt wie eine Lichtkante am Glas) */
    border: 1px solid rgba(255, 255, 255, 0.1);

    /* 4. Abrunden und Schatten für die Tiefe */
    border-radius: 1em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    margin: 0.8em 0;
    padding: 1.3em;
    padding-top: 0.8em;
}

.card a {
    display: inline-block;
    color: var(--accent-color);
    position: relative;
    font-weight: 500;
    margin-top: 0.7em;
}

.card a:hover {
    /* small line */
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 1px;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%; /* make it into a circle */

    /* Protect aspect ratio */
    object-fit: cover;

    box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 10px 15px -3px rgba(0, 0, 0, 0.2),
            0 20px 25px -5px rgba(0, 0, 0, 0.1);

    border: 3px solid white;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 1.5em 0 0.2em 0;
}

h2 {
    font-weight: 500;
    margin: 0 0 0.2em 0;
}

h3 {
    font-weight: 400;
    font-size: 1em;
}

h4 {
    font-weight: 600;
    font-size: 0.8rem;
}

p {
    font-weight: 200;
    text-align: justify;
}


/* TODO: Mit flexbox einmitten, nicht mit margin! */
.name-title {
    margin: 2em 0 0 0;
}
.material-symbols-outlined {
    vertical-align: middle;
    margin-left: 1px;
    font-variation-settings: 'wght' 400;
}

.primary-button {
    background: var(--blue);
    color: var(--primary-white);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin: 0 1em;
}

.elevator-pitch {
    margin: 2em 0 0.5em 0;
}

.category-selector {
    display: flex;
    flex-direction: row;
    gap: 1.4em;
}

